<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Scotbank - Account</title>
</head>

<body>
    <div class="container">
        <div class="info-container">
            <h2>Welcome, {{username}}</h2>
            <div>
                <h3>Account Overview:</h3>
                <p>Checking account number: {{checkingAccountNumber}}</p>
                <p>Checking account balance: {{checkingBalance}}</p>
                <p>Savings account number: {{savingsAccountNumber}}</p>
                <p>Savings account balance: {{savingsBalance}}</p>
            </div>
        </div>
    </div>
</body>

</html>