<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style1.css">
    <title>Scotbank - Account</title>
</head>

<body>

<div class="topnav">
    <a href="home#welcome">Welcome</a>
    <a href="home#services">Our Services</a>
    <a href="home#about">About Us</a>
    <a href="home#contact">Contact Us</a>
    <img src="/assets/ScotBankImg.png" alt="ScotBank Logo" class="logo">
    <a href="http://localhost:8080/home" id = "home-link">Home</a>
</div>

    <div class="container">
        <div class="title">
            <h2 >Welcome, {{username}}</h2>
        </div>

        <div class="info-container">
            <div class="buttons-section">
                <button class = "action-button" onclick = "window.location.href='http://localhost:8080/account';" >Account</button>
                <button class = "action-button" onclick = "window.location.href='http://localhost:8080/transaction';" >Transactions</button>
                <button class = "action-button" onclick = "window.location.href='http://localhost:8080/spending';" >Spending Summary</button>
            </div>

            <div class= "overview">
                <h3>Account Overview:</h3>
                <p>Checking account number: {{checkingAccountNumber}}</p>
                <p>Checking account balance: {{checkingBalance}}</p>
                <p>Savings account number: {{savingsAccountNumber}}</p>
                <p>Savings account balance: {{savingsBalance}}</p>
            </div>

        </div>
    </div>
</body>

</html>